* {
    font-family: Montserrat, sans-serif;
}

.btn {
    padding: 10px 20px;
    border: #CC0000 solid 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 200ms;
    margin: 8px 8px 8px 8px;
    background: #FFFFFF;
    color: #FF0000;
    text-decoration: none;
}

.btn:hover {
    background: #FFEEEE;
}

.accent {
    background: #FF0000;
    color: #FFFFFF;
}

.accent:hover {
    background: #CC0000;
}

header {
    height: 75px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    border-bottom: lightgray solid 1px;
}

.logo {
    height: 50px;
}

.auth-btns {
    margin-left: auto;
}

.profile-link {
    display: block;
    margin-left: auto;
    text-decoration: none;
    color: #000000;
    transition-duration: 200ms;
}

.profile-link i {
    margin: 4px;
}

.profile-link:hover {
    color: #FF0000;
}

.profile-link:hover span {
    text-decoration: underline;
}

form {
    /*display: table;*/
    margin: 0 auto;
    border-spacing: 18px 10px;
    width: 450px;
}

form label {
    display: table-row;
}

form label span {
    display: table-cell;
    text-align: right;
    width: 200px;
}

form label input {
    display: table-cell;
    padding: 12px 20px;
    width: 250px;
}

form label input:focus {
    border: #CC0000 solid 2px;
    outline: none;
}

form input[type=submit] {
    display: block;
    margin: 10px auto;
    width: 80%;
}

form label input[type=file] {
    display: none;
}

form label input[type=checkbox] {
    margin: 10px 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    accent-color: #FF0000;
}

.file-chooser-btn {
    display: block;
    width: fit-content;
    padding: 10px 30px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
}

.error {
    text-align: center;
    color: #FF0000;
}
